# Configure the appropriate settings and rename this file to ".env"

# Persistent container data for config location
DATADIR=./data

# Common Environment Variables
PUID=1000 # User ID for file permissions
PGID=1000 # Group ID for file permissions
TZ=Europe/London # Timezone

# Ports - External ports on the host

## Media Ports
SONARR_PORT=8989 # Sonarr Web UI
RADARR_PORT=7878 # Radarr Web UI
BAZARR_PORT=6767 # Bazarr Web UI
PLEX_PORT=32400 # Plex
OVERSEERR_PORT=5055 # Overseerr Web UI
TAUTULLI_PORT=8181 # Tautulli Web UI

## Download Management Ports
QBITTORRENT_PORT=8080 # Qbittorrent Web UI
PROWLARR_PORT=9696 # Prowlarr Web UI

## Docker Monitoring Ports
PORTAINER_PORT=9000 # Portainer Web UI
PROMETHEUS_PORT=9090 # Prometheus

## Nginx Ports
NGINX_HTTP_PORT=80 # Nginx Proxy Manager HTTP
NGINX_HTTPS_PORT=443 # Nginx Proxy Manager HTTP
NGINX_ADMIN_PORT=81 # Nginx Proxy Manager Admin Web UI

# Media Folders
MOVIES_FOLDER=./data/plex/Movies # Folder where movies are stored

TV_FOLDER=./data/plex/TV # Folder where TV shows are stored

DOWNLOADS_FOLDER=./data/qbittorrent/downloads # Folder where downloaded content should be put

# Plex Claim Code - Go to https://www.plex.tv/claim/ to generate a claim token and paste it here. This is only required the first time
PLEX_CLAIMTOKEN=XXX